<h1>Listing users</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Name</th>
    <th>Email</th>
    <th>Language</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.login %></td>
    <td><%=h user.name %></td>
    <td><%=h user.email %></td>
    <td><%=h user.language %></td>
    <td><%= link_to 'Show', user_path(user.key) %></td>
    <td><%= link_to 'Edit', edit_user_path(user.key) %></td>
    <td><%= link_to 'Destroy', user_path(user.key), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>
