<h1>Listing locales</h1>

<table>
  <tr>
    <th>Code</th>
  </tr>

<% @locales.each do |locale| %>
  <tr>
    <td><%=h locale.code %></td>
    <td><%= link_to 'Show', locale_path(locale.key) %></td>
    <td><%= link_to 'Edit', edit_locale_path(locale.key) %></td>
    <td><%= link_to 'Destroy', locale_path(locale.key), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New locale', new_locale_path %>
